Repository Hallis1221/XZW-site, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, UI

print + refactor
  components/cardSettings/component.tsx
  components/flashcard/component.tsx
  components/flashcard/print/component.tsx
  components/flashcard/print/index.ts
  components/flashcard/settings/component.tsx
  components/flashcard/settings/index.ts
  components/flashcard/settings/props.ts
  components/flashcard/swipeable/component.tsx
  components/flashcard/swipeable/index.ts
  components/flashcard/swipeable/props.ts
  components/flashcard/withactions/component.tsx
  components/flashcard/withactions/props.ts
  components/multiplechoice/alternatives/component.tsx
  components/multiplechoice/alternatives/index.ts
  components/multiplechoice/alternatives/props.ts
  components/multiplechoice/choice/component.tsx
  components/multiplechoice/choice/index.ts
  components/multiplechoice/choice/props.ts
  components/multiplechoice/settings/component.tsx
  components/multiplechoice/settings/index.ts
  components/multiplechoice/settings/props.ts
  package.json
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/[id]/test/choices.tsx
  yarn.lock
Labels: repo, UI

Mobile multiple choice
  components/multiplechoice/choice/component.tsx
  pages/lister/[id]/test/choices.tsx
Labels: UI

Smarter print
  components/flashcard/print/component.tsx
  components/flashcard/settings/component.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: UI

Mirror prints
  components/flashcard/print/component.tsx
  components/flashcard/settings/component.tsx
Labels: UI

Add nextauth
  lib/strapi/fetch.ts
  package.json
  pages/_app.tsx
  pages/api/auth/[...nextauth].ts
  pages/index.tsx
  tsconfig.json
  yarn.lock
Labels: repo

Add user to navbar
  next.config.js
  package.json
  pages/_app.tsx
  yarn.lock
Labels: repo

Add tmer
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Replace md5
  package.json
  pages/_app.tsx
  yarn.lock
Labels: repo

Revert "Replace md5"
  package.json
  pages/_app.tsx
  yarn.lock
Labels: repo

Remove node-jose-tools
  package.json
  yarn.lock
Labels: repo

Fix
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Reset timer on restart
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

fix render issue
  pages/api/scores/flashcards.ts
  pages/index.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.ts
  pages/api/scores/flashcards.ts
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

save highscore
  lib/strapi/fetch.ts
  pages/api/scores/flashcards.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.ts
  pages/api/scores/flashcards.ts
Labels: none

UX highscore saving
  pages/api/scores/flashcards.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Add revalidation and global leaderboard
  pages/api/scores/flashcards/global/[id].ts
  pages/api/scores/flashcards/index.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/[id]/index.tsx
  pages/lister/[id]/spill/index.tsx
  pages/lister/[id]/test/choices.tsx
Labels: none

Add new form
  .gitignore
  lib/strapi/fetch.ts
  package.json
  pages/_app.tsx
  pages/api/flashcards/new.ts
  pages/lister/ny.tsx
  yarn.lock
Labels: repo

Add edge cases for chunksize check
  components/flashcard/print/component.tsx
  pages/api/flashcards/new.ts
  pages/lister/ny.tsx
Labels: UI

Improve last
  components/flashcard/print/component.tsx
  pages/lister/ny.tsx
Labels: UI

Add print on mobile
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

bug
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Update flashcards.tsx
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Add a button to create from quizlet link
  pages/api/flashcards/new.ts
  pages/api/gloser/create/quizlet.ts
  pages/lister/index.tsx
  pages/lister/ny.tsx
Labels: none

Add quizlet scraping via axios and update UI to use new API capabilites
  package.json
  pages/api/flashcards/new.ts
  pages/api/gloser/create/quizlet.ts
  pages/api/gloser/create/quizlet/[id].ts
  pages/api/scores/flashcards/index.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/ny.tsx
  yarn.lock
Labels: repo

Improve URL substring sanitization
  pages/api/flashcards/new.ts
  pages/lister/ny.tsx
Labels: none

.github/labeler.yml:

# TODO

# Add 'repo' label to any root file changes
repo:
- '*'
UI:
- components/**/*
