Repository Hallis1221/XZW-site, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, UI

Update index.tsx
  pages/index.tsx
Labels: none

Add basic layout for flashcards
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

:heavy_plus_sign: Add react-swipable
  package.json
  yarn.lock
Labels: repo

Add swiping
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Add sucess / failure buttons
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Refactor
  components/flashcard/component.tsx
  components/flashcard/index.ts
  components/flashcard/props.ts
  components/flashcardWithActions/component.tsx
  components/flashcardWithActions/props.ts
  components/navArrow/component.tsx
  components/navArrow/index.ts
  components/navArrow/props.ts
  package.json
  pages/lister/[id]/gjennomgang/flashcards/hanzi.tsx
  styles/globals.css
  yarn.lock
Labels: repo, UI

Save props
  components/navArrow/props.ts
Labels: UI

set noImplicitAny to false
  tsconfig.json
Labels: repo

update url
  pages/lister/[id]/index.tsx
Labels: none

QOL Shortcuts & add react-hot-toast
  package.json
  pages/_app.tsx
  pages/lister/[id]/gjennomgang/flashcards/hanzi.tsx
  yarn.lock
Labels: repo

Add restart button
  pages/_app.tsx
  pages/lister/[id]/gjennomgang/flashcards/hanzi.tsx
Labels: none

Refactor swipeable card
  components/swipeAbleFlashcard/component.tsx
  components/swipeAbleFlashcard/index.ts
  components/swipeAbleFlashcard/props.ts
  pages/lister/[id]/gjennomgang/flashcards/hanzi.tsx
Labels: UI

preventScrollOnSwipe: true,
  components/swipeAbleFlashcard/component.tsx
Labels: UI

Limit toast to one at a time
  pages/lister/[id]/gjennomgang/flashcards/hanzi.tsx
Labels: none

Add flashcard settings
  components/swipeAbleFlashcard/component.tsx
  components/swipeAbleFlashcard/props.ts
  lib/types/card.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/[id]/index.tsx
  pages/lister/[id]/spill/index.tsx
Labels: UI

Set flashcards to update with card sides
  lib/types/cardSide.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Allow for both hanzi and pinyin on a card
  lib/types/cardSide.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Fix error on complete
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Refactor
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Fix buttons mixup
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/[id]/spill/index.tsx
Labels: none

Implement autoplay for glose details
  components/glose/details/component.tsx
  lib/stroke-order/getRef.ts
  pages/_app.tsx
Labels: UI

Update component.tsx
  components/glose/details/component.tsx
Labels: UI

Add strapi support to lister/id
  package.json
  pages/lister/[id]/index.tsx
Labels: repo

Bind flashcards to strapi
  pages/lister/[id]/gjennomgang/flashcards.tsx
  pages/lister/[id]/spill/index.tsx
Labels: none

Add "backup" strings
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Shuffle cards
  components/cardSettings/component.tsx
  components/cardSettings/index.ts
  components/cardSettings/props.ts
  lib/shuffle/index.ts
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: UI

Update glose together with cardnumber on shuffle
  pages/lister/[id]/gjennomgang/flashcards.tsx
Labels: none

Fix bug related to popup details
  components/glose/details/component.tsx
Labels: UI

Accept non hanzi characters
  components/glose/details/component.tsx
  lib/regex/hanzi.ts
  lib/stroke-order/getRef.ts
Labels: UI

Add prototyping for multiple choice with smart choices
  lib/types/mchoice.ts
  lib/types/mchoiceQuestion.ts
  pages/lister/[id].tsx
  pages/lister/[id]/spill/index.tsx
  pages/lister/[id]/test/choices.tsx
Labels: none

TYpe
  lib/choices/smartchoices.ts
  lib/types/mchoice.ts
  pages/lister/[id]/test/choices.tsx
Labels: none

Create a continiues experience
  components/choice/component.tsx
  components/choice/index.ts
  components/choice/props.ts
  lib/choices/smartchoices.ts
  lib/types/mchoice.ts
  pages/lister/[id]/test/choices.tsx
Labels: UI

Might have to rewrite
  components/choice/component.tsx
  lib/choices/smartchoices.ts
  pages/lister/[id]/test/choices.tsx
Labels: UI

Update choices.tsx
  pages/lister/[id]/test/choices.tsx
Labels: none

no need to refactor
  components/choice/component.tsx
  components/choice/props.ts
  pages/lister/[id].tsx
  pages/lister/[id]/test/choices.tsx
Labels: UI

Allow for customizing answer/question type
  components/choice/component.tsx
  components/choice/props.ts
  pages/lister/[id]/test/choices.tsx
Labels: UI

oh you silly little bugs!
  pages/lister/[id]/test/choices.tsx
Labels: none

commentios
  pages/lister/[id]/test/choices.tsx
Labels: none

Refactor
  components/choice/component.tsx
  components/multiAlternatives/component.tsx
  components/multiAlternatives/index.ts
  components/multiAlternatives/props.ts
  components/multiSettings/component.tsx
  components/multiSettings/index.ts
  components/multiSettings/props.ts
  lib/types/choiceManager.ts
  pages/lister/[id]/test/choices.tsx
Labels: UI

Update choices.tsx
  pages/lister/[id]/test/choices.tsx
Labels: none

.github/labeler.yml:

# TODO

# Add 'repo' label to any root file changes
repo:
- '*'
UI:
- components/**/*
